    <div>
        <form action="action_page.php">
            <div class="container-fluid text-center" style="background-color:black; height: 291px;">
                <h5 class="text-light" style="padding-top: 45px;">ASSINE NOSSA NEWS LETTER E RECEBA DESCONTOS EXCLUSIVOS</h5>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 align-self-center">
                        <div class="form-group">
                            <input class="form-control input-newsletter" type="text" placeholder="Nome" name="nome" required>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 align-self-center">
                        <div class="form-group">
                            <input class="form-control input-newsletter" type="text" placeholder="Email" name="email" required>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="receberdiario"  checked="checked">
                    <label class="form-check-label" for="receber diario">Receber diariamente</label>

                </div>
                <input class="btn btn-primary" type="submit" value="Assinar">
            </div>
        </form>
        <div class="container footer-informations">
            <div class="row text-center">
                <div id="institucional" class="col-md-4 text-left">
                        <h6>INSTITUCIONAL</h6>

                        <a class="rodape-links" href="#">Quem somos</a><br>
                        <a class="rodape-links" href="#">Blog</a><br>
                        <a class="rodape-links" href="#">Contato</a><br>
                        <a class="rodape-links" href="#">Central de Atendimento</a>
                </div>
                <div id="atendimento" class="col-md-4">
                        <h6>ATENDIMENTO</h6>
                        (11) 4935-2383<br>
                        Horário de atendimento:<br>
                        De segunda à sexta<br>
                        das 9h às 18h<br>
                        atendimento@latrus.com.br<br>
                        Caixa Postal 77845
                        479, Belo Horizonte, MG
                </div>
                <div id="politicas" class="col-md-4 text-right">
                    <h6>POLÍTICAS</h6>
                    <a class="rodape-links" href="#">Prazos e entregas</a><br>
                    <a class="rodape-links" href="#">Formas de pagamento</a><br>
                    <a class="rodape-links" href="#">Promoções e Descontos</a><br>
                    <a class="rodape-links" href="#">Privacidade</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2018 Latrus</p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->
   
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="../res/site/js/owl.carousel.min.js"></script>
    <script src="../res/site/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="../res/site/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="../res/site/js/main.js"></script>
    
    <!-- Slider -->
    <script type="text/javascript" src="../res/site/js/bxslider.min.js"></script>
    <script type="text/javascript" src="../res/site/js/script.slider.js"></script>
  </body>
</html>