<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <title>Latrus</title>

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../res/site/css/bootstrap.min.css">
    <link rel="stylesheet" href="../res/site/css/font-awesome.min.css">
    <link rel="stylesheet" href="../res/site/css/owl.carousel.css">
    <link rel="stylesheet" href="../res/site/css/style.css">
    <link rel="stylesheet" href="../res/site/css/responsive.css">
    <link rel="stylesheet" href="../res/site/css/estilo.css">
    <link rel="stylesheet" type="../res/site/css" href="../res/css/bootstrap.css">
    <link rel="stylesheet" type="../res/site/text/css" href="../res/css/estilo.css">
    <link rel="shortcut icon" href="../res/site/imagens/layout/logo.png" >


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="../res/site/js/javascript.js"></script>
</head>
  <body>
   
<header id="ini">
        <div  class="container-fluid">
            <div style ="background: black;" class="row">
                <div class="col-md-6">
                    <nav>
                        <p class="text-light nav-inicial-title">REDES SOCIAIS</p>
                        <ul class="nav-inicial" id="nav-inicial">
                            <li class="nav-inicial-item">
                                <a class="nav-inicial-link" href=""><img class="redes-sociais" alt="instagram" style="width: 27px !important;" src="../res/site/imagens/layout/instagram.png"></a>
                            </li>
                            <li class="nav-inicial-item">
                                <a class="nav-inicial-link" href=""><img class="redes-sociais" src="../res/site/imagens/layout/face.png" alt="facebook"></a>
                            </li>
                            <li class="nav-inicial-item">
                                <a class="nav-inicial-link" href=""><img class="redes-sociais" style="margin-left: 3px;" src="../res/site/imagens/layout/twitter-icon.png" alt="twitter"></a>
                            </li>
                            <li class="nav-inicial-item">
                                <a class="nav-inicial-link" href=""><img class="redes-sociais" style="margin-left: 3px;" src="../res/site/imagens/layout/youtube.png" alt="youtube"></a>
                            </li>
                            <li class="nav-inicial-item">
                                <a class="nav-inicial-link" href=""><img class="redes-sociais" style="margin-left: 3px;" src="../res/site/imagens/layout/iGoogle.png" alt="google"></a>
                            </li>                           
                        </ul>
                    </nav>
                </div>
                <div class="col-md-6 text-right">
                    <nav class="usuario">
                        <ul class="nav-inicial-direita">
                            <li class="nav-inicial-item">
                                <a class="nav-inicial-link" href=""><img style="width: 20px;" src="../res/site/imagens/layout/imagem2.png"></a>
                            </li>
                            <li class="nav-inicial-item">
                                <a class="nav-inicial-link" href=""><img style="width: 19px;" src="../res/site/imagens/layout/icone-sacola.png"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <img style="width: 87px; margin-bottom: 13px; "src="../res/site/imagens/layout/imagem1.png">
                </div>
                <div class="col-md-4"></div>    
            </div>
            <div id="move-on-scroll">
                <div style ="background: black;" class="row">
                    <div class="col-md-3" >
                        <img id="logo-fundo-escuro" style="display: none;" src="../res/site/imagens/layout/logo-fundo-escuro.png">
                    </div>

                    <div class="col-md-6">
                        <nav class="navbar nav-header">
                            <ul style="width: 100%" class="nav nav-fill">
                                <li class="nav-item">
                                    <a class="nav-link nav-perso" href="">NOVIDADES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-perso" href="">FEMININO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-perso" href="">MASCULINO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-perso" href="">ACESSÓRIOS</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3">
                        <form class="search-top">
                            <div class="input-group">
                                <input class="form-control" type="search" placeholder="Digite aqui..." aria-label="Search">
                                <button class="btn-search" type="submit">
                                    <img class="btn-search-image"src="../res/site/imagens/layout/search-icon.png">
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="background: #c2c2c2;"class="row">
                <div class="col-md-4 text-center">
                    <img class="icones-top" src="../res/site/imagens/layout/desc.png">
                    Desconto na primeira compra
                </div>
                <div class="col-md-4 text-center">
                    <img class="icones-top" src="../res/site/imagens/layout/cart.png">
                    Parcelamento no cartão
                </div>
                <div class="col-md-4 text-center">
                    <img class="icones-top" src="../res/site/imagens/layout/frete.png">
                    Frete Gratis
                </div>
            </div>
        </div>
    </header>   