.nav-inicial{
    color: white;
    margin-left: 87px;
    margin-top: -38px;
    margin-bottom: 5px;
}
.nav-inicial-item{
	display: inline;
}

.nav-inicial-link{
	text-decoration: none;
}

.nav-inicial-title{
    font-size: 13px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.redes-sociais{
	width: 20px;
}

.nav-inicial-direita{
	margin-right: 20px;
    margin-bottom: 0;
    margin-top: 3px;
}

/*@media (max-width: 1066px) {
  #ini{display: none;}
}*/

.nav-perso{
	color: white !important;
}
.nav-perso:hover{
	color: grey !important;
}
.search-top{
	margin-top: 8px;
    width: 204px;
}

.btn-search{
	border: none;
    background: #ffffff00;
    margin-left: -12px;
}

.btn-search-image{
    width: 17px;
    background: #fcfafa;
    border: none;
    margin-left: -37px;
    z-index: 9999;
    position: relative;
    margin-top: -3px;
}
.icones-top{
	width: 31px;
	margin-bottom: 9px; 
	margin-top: 6px;" 
}

.titulo-section{
    margin: 26px 0 20px 0;
}
.lista-imagens{
    list-style: none;
    margin-left: -36px;
}

.lista-imagens-item{
    display: inline;

}
.lista-imagens-item img{
    height: 400px;
}

.cadastro {
        margin-top: 53px;
}


.ajustes-header{
      margin-top: 15px !important;
}

.produtos-titulo{
        text-decoration: none;
        color:black;
}

.produtos-titulo:hover{
        text-decoration: none;
        color:grey;
}

.rodape-links{
    text-decoration: none;
    color: black;
}
.rodape-links:hover{
    text-decoration: none;
    color: grey;
}

.footer-informations{
    padding: 10px 0px 10px 0px;
}